<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Заголовок страницы</title>
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>{% include "mainapp/includes/some_html.html" %}</h1>
        {% block content %}
        {% endblock %}
        <a href="/" class="btn btn-success btn-lg">Главная страница</a>
        <a href="/news" class="btn btn-primary btn-lg">Новости</a>
        <a href="/contact" class="btn btn-info btn-lg">Контакты</a>
      </div>
    </div
    <div class="container"><center>
      <img src="{% static 'mainapp/Images/deathstar.png' %}" class="img-thumbnail">
    </center>
      <hr>
      &copy; Все права защищены. Star Wars, Luke SkyWalker.
    </div>
  </body>
</html>
